{#
/**
 * @file
 * Default theme implementation for the restricted community feed.
 */
#}

<div class="restricted-text">
  <h2 class="content-box__title">{{ 'This community is restricted.'|t }}</h2>
  <p>{{ 'The messages will be visible once your request to join has been approved'|t }}</p>
</div>
